/* Default desktop styling */

/* Navbar Container */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
	padding: 10px 20px;
}

.logo {
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
}

.nav-links {
	list-style: none;
	display: flex;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block; /* Makes the entire link area clickable */
	text-align: center;
}

.nav-links li a: hover {
	background-color: #555;
}

/* Hid ethe checkbox and label by default on large screens */

.menu-toggle-checkbox,
.menu-toggle-label {
	display: none;
}

/* styles for the hamburger menu bars */
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: white;
}

/* body should fill screen both on mobile and screen */
#demo-reel {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;

}


/* Query for mobile devices */

@media screen and (max-width: 768px) {
	.nav-links {
		display: none; /* Hide links on mobile */
		flex-direction: column; /* Stack links vertically */
		width: 100%;
		position: absolute; /* Position the menu below the navbar */
		top: 60px;
		left: 0;
		background-color: #333;
	}

	.nav-links li a {
		padding: 15px;
		text-align: left;
	}

	/* Show hamburger menu icon */
	.menu-toggle-label {
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}

	.menu-toggle-checkbox:checked ~ .nav-links {
		display: flex;
	}
}
