
.portfolio-button {
    background-color = light-dark(var(--light-secondary), var(--dark-secondary));

    height: 300px;
    width: 200px;
}

.modal-background {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 2; /* stay on top of everything else */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: white;
}

