:root {
	/* Colours */
	color-scheme: light dark;

	/* Light Mode */
	--light-primary: #E8F1f2;
	--light-secondary: #001A23;
	--light-secondary-2: #31493c;
	--light-accent: #7A9E7E;
    --light-primary-transparent: #E8F1f280; 
	
	/* Dark Mode */
	--dark-primary: #001A23;
	--dark-secondary: #E8F1F2;
	--dark-secondary-2: #7A9E7E;
	--dark-accent: #B3EFB2;
    --dark-primary-transparent:  #001A2380; 


	/* Fonts */
	--font-heading: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	--font-body: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global reset to remove default margins/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Prevents padding/borders from adding to the total height */
}

body {
  font-family: var(--font-body);
}

p {
    margin-top: 0;
    margin-left:0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin: auto;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 20px;
}